<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="container">
    <div class="info">
        <h1>Visorum</h1>
        <p>Loren ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, felis a malesuada tincidunt...</p>
    </div>
    <div class="form-container">
        <h2>Авторизация</h2>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" id="username" placeholder="Логин" required>
            <input type="password" name="password" id="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
        <p th:if="${param.error}" class="error">Неправильный логин или пароль</p>
        <p th:if="${param.logout}" style="color: green;">Вы вышли из системы</p>
        <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
    </div>
</div>
</body>
</html>
